.block {
  &.weight {
    .gl-field-error {
      margin-top: $gl-padding-8;
      margin-left: -6px;
      display: flex;
      align-items: center;
    }
  }
}

.add-issuable-form-input-wrapper {
  height: auto;
  padding: $gl-vert-padding $gl-vert-padding 0 $gl-input-padding;

  &.focus,
  &.focus:hover {
    border-color: $blue-300;
    box-shadow: 0 0 4px $dropdown-input-focus-shadow;
  }
}

.add-issuable-form-input-token-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.add-issuable-form-token-list-item {
  max-width: 100%;
  margin-bottom: $gl-vert-padding;
  margin-right: 5px;
}

.add-issuable-form-input-list-item {
  flex: 1;
  min-width: 200px;
  margin-bottom: $gl-vert-padding;
}

.add-issuable-form-input {
  width: 100%;
  border: 0;

  &:focus {
    outline: none;
  }
}

.add-issuable-form-actions {
  margin-top: $gl-padding;
}
